<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="icon" type="image/png" href="assets/favicon.png"/>
  </head>
  <body>
    {% include navigation.html %}
    <hr/>
    <section class="container">
      {{ content }}
    </section>
    <hr/>
    <section class="container">
      <div id="hko_warnings"></div>
      <div id="aqi_info"></div>
      <!-- <div id="main_marquee" class="marquee"></div> -->
    </section>
    <hr/>
    <footer class="container">
      Cyril Ng Lung Kit ({{ "now" | date: "%Y" }}) | 
      <a href="/policy.html" >Privacy Policy</a>
    </footer>

    <script src="/assets/js/spark_hko.js"></script> 
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        console.log("DOMContentLoaded");
        // subscribeToHkoWarnings((entries) => {addToMarquee(concatenateHkoWarnings(entries))});
        subscribeToHkoWarnings(createList);
        navigator.geolocation.getCurrentPosition((position) => {
          getAQIByLocation(position.coords.latitude, position.coords.longitude, (data, err) => {
            if (err || data?.status != "ok") {
              console.log("Error fetching data for AQI: ", err);
            } else {
              //console.log(data);
              var aqi_info = document.getElementById("aqi_info");
              aqi_info.innerHTML = "";

              var link = document.createElement("a");
              link.href = data.data?.city?.url;
              link.textContent = data.data?.city?.name + ": " + data.data?.aqi + " AQI";
              link.title =  data.data?.iaqi?.pm25?.v + " pm2.5\n" + 
                            data.data?.iaqi?.pm10?.v + " pm10\n" + 
                            data.data?.iaqi?.o3?.v + " ozone\n" + 
                            data.data?.iaqi?.t?.v + " °C\n" + 
                            data.data?.iaqi?.h?.v + " % humidity\n" + 
                            data.data?.iaqi?.p?.v + " bar";
              aqi_info.appendChild(link);
            }
          });
        });
      });
    </script>
  </body>
</html>