<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="icon" type="image/png" href="assets/favicon.png"/>
  </head>
  <body>
    {% include navigation.html %}
    <hr/>
    <section class="container">
      {{ content }}
    </section>
    <hr/>
    <footer class="container">
      <div id="main_marquee" class="marquee"></div>
      Cyril Ng Lung Kit ({{ "now" | date: "%Y" }}) | 
      <a href="/policy.html" >Privacy Policy</a>
    </footer>
    <script src="/assets/js/spark_hko.js"></script> 
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        console.log("Page loaded");
        
        subscribeToHkoWarnings(addToMarquee);
      });
    </script>
  </body>
</html>